<!doctype html>



<html>
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {{ content_for_header }}
    <!-- Header hook for plugins -->
    {{ 'application.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'application.js' | asset_url }}" defer></script>
    <script src="{{ 'alpine.js' | asset_url: "https://cdn.jsdelivr.net/npm/alpinejs@3.12.1/dist/cdn.min.js" }}" defer></script>


  </head>
  <body>
    {{ content_for_header }}
    {% section 'header' %}
    {{ content_for_layout }}
    <main role="main">{% comment %} {{ content_for_layout }} {% endcomment %}
    </main>
  </body>
</html>